@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes molePopUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@layer components {
  .animate-mole-popup {
    animation: molePopUp 0.3s ease-out forwards;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-green-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-green-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-green-500;
}